<% provide :title, t("help.title") %>
<h1><%= t "help.title" %></h1>
<p>
  <%= t "help.description" %>
  <%= link_to t("help.RR"), Settings.help.h  %>
  <%= t "help.res-description" %>
  <%= link_to t("help.RR2"), Settings.help.b  %>
</p>
