<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout.header.sample app"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout.header.home"), home_path %></li>
        <li><%= link_to t("layout.header.help"), help_path %></li>
        <li><%= link_to t("layout.header.log in"), "#" %></li>
        <li><%= link_to t("english"), locale: :en %></li>
        <li><%= link_to t("viet"), locale: :vi %></li>
      </ul>
    </nav>
  </div>
</header>
